{% extends 'base.html' %}
{% load i18n %}

{% block header-title %}{% trans 'Room' %}{% endblock %}

{% block content %}

<div class="clear-fix"></div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        {% trans 'Room List' %} 
        </div>

    <!-- Table -->
    <table class="table table-hover table-striped">
    <thead>
        <th>#</th>
        <th>{% trans 'Room#' %}</th>
        <th>{% trans 'Room Name' %}</th>
        <th>{% trans 'Capacity' %}</th>
        <th>{% trans 'Description' %}</th>
    </thead>
    <tbody>
    {% for room in object_list %}
    <tr>
        <td style="background-color:{{room.color}}">{{forloop.counter}}</td>
        <td>{{room.no}}</td>
        <td>{{room.name}}</td>
        <td>{{room.capacity}}</td>
        <td>
            {% if user.is_staff %}
                <a href="{% url 'rooms:update' room.slug %}" class="btn btn-xs btn-info">Edit</a>
                <a href="{% url 'rooms:delete' room.slug %}" class="btn btn-xs btn-danger">Delete</a>
            {% endif %}
            {{room.desc}}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">{% trans 'N/A' %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="{% url 'rooms:list' %}?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% endif %}
            <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
        {% if page_obj.has_next %}
            <li><a href="{% url 'rooms:list' %}?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>

{% if user.is_staff %}
<span><a href="{% url 'rooms:create' %}" class="btn btn-primary">{% trans 'New' %}</a></span>
{% endif %}
{% endblock %}