{% verbatim %}
<script id="approving-template" type="text/x-handlebars-template">
    <div id="approving-form">
        <div class="form-group">
            <label for="id_approval_status">Status</label>
            <select class="form-control" id="id_approval_status" name="approval_status">
                <option value="p">Pending</option>
                <option value="k">Acknowledge</option>
                <option value="a">Accepted</option>
                <option value="r">Rejected</option>
            </select>
        </div>
        <div class="form-group">
            <label for="id_approval_note">Note</label>
            <input class="form-control" id="id_approval_note" name="approval_note"
                type="text" placeholder="Reason why it is what it is">
            <input type="hidden" name="resource_uri" value="{{resource_uri}}"/>
        </div>

        <div class="btn-group btn-group-lg">
          <button class="btn btn-default" id="approving-form-dismiss">Cancel</button>
          <button class="btn btn-success" id="approving-form-save">Confim</button>
        </div>
    </div>
</script>
{% endverbatim %}
