{% load i18n %}
{% load custom_tag %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="id_{{ field.html_name }}">{% trans field.label_tag %}
            <small style="color:#dd0000">{% for e in field.errors %} {{e}} {% endfor %}</small></label>
            {% if field|is_datetime %}
                <input class="form-control" id="id_{{ field.html_name }}" maxlength="60" name="{{ field.html_name }}" type="datetime" value="{{ field.value|date:'Y-m-d H:i:s'|default_if_none:'' }}" placeholder="{{ field.help_text|default_if_none:'' }}">
            {% elif field|is_password %}
                <input class="form-control" id="id_{{ field.html_name }}" maxlength="60" name="{{ field.html_name }}" type="password" value="{{ field.value|default_if_none:'' }}" placeholder="{{ field.help_text|default_if_none:'' }}">
            {% elif field|is_input %}
                <input class="form-control" id="id_{{ field.html_name }}" maxlength="60" name="{{ field.html_name }}" type="text" value="{{ field.value|default_if_none:'' }}" placeholder="{{ field.help_text|default_if_none:'' }}">
            {% elif field|is_textarea %}
                <textarea class="form-control" id="id_{{ field.html_name }}" rows="4" name="{{ field.html_name }}">{{ field.value|default_if_none:'' }}</textarea>
            {% elif field|is_select %}
                <select class="form-control" id="id_{{ field.html_name }}" name="{{ field.html_name }}">
                    {% for x in field.field.choices %}
                        <option value="{{x.0}}" {% if field.value == x.0 %}selected{% endif %}>{{x.1}}</option>
                    {% endfor %}
                </select>
            {% else %}
                {{field}}
            {% endif %}
    </div>
{% endif %}