{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="row">

    <div id="form" class="panel panel-default {% block panel-class %}{% endblock %}">
      <div class="panel-heading">{% block panel-heading %}{% endblock %}</div>
      <div class="panel-body">


        <form action="{% block form-action %}{% endblock %}" method="post">{% csrf_token %}
        {% block form-container %}
        
        {% for field in form %}
            {% include "includes/field.html" %}
        {% endfor %}

        {% endblock %}

          <div class="btn-group btn-group-lg">
              <a class="btn btn-default" href="{% block backlink %}{% endblock %}">{% trans 'Cancel' %}</a>
              <button type="submit" class="btn btn-success">
                {% block form-submit %}{% trans 'Update' %}{% endblock %}</button>
          </div>
        </form>
      </div>
    </div>

</div>

{% endblock %}