{% load static from staticfiles %}
{% load compress %}{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/sticky-footer-navbar.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
        <link rel='stylesheet' href='{% static "fullcalendar-1.6.3/fullcalendar.css" %}'/>
        <link rel='stylesheet' href='{% static "fullcalendar-1.6.3/fullcalendar.print.css" %}' media='print' />
        <link rel="stylesheet" href="{% static 'css/application.css' %}"/>
        {% endcompress %}
        {% compress css inline %}
        {% block extra_css %}{% endblock %}
        {% endcompress %}
        <!-- End CSS -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

        <!-- Start JavaScript Variables -->
        <script>
        var apiLimitPerPage = 0{{ API_LIMIT_PER_PAGE }},
            errors = {% if not messages %}null,{% else %}[
                {% for message in messages %}{
                    tags: "{{ message.tags }}",
                    text: "{{ message }}"
                }{% endfor %}
            ],{% endif %}
            currentUser = {
                id: "{{ user.id }}",
                username: "{{ user.username }}",
                gravatar: "{{ user.gravatar }}"
            },
            tagFilter = "{{ request.resolver_match.kwargs.tag }}",
            userFilter = "{{ request.resolver_match.kwargs.user }}";
        </script>
        <!-- End JavaScript Variables -->
    </head>

    <body>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">{{ SITE_NAME }}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            {% if user.is_staff %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'users:list' %}">{% trans 'Users' %}</a></li>
                <li><a href="{% url 'rooms:list' %}">{% trans 'Rooms' %}</a></li>
                <li><a href="{% url 'reservations:history' %}">{% trans 'Request' %}</a></li>
              </ul>
            </li>
            {% endif %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'users:profile' user.pk %}">{% trans 'Profile' %}</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">ACTION</li>
                {% if user.is_superuser %}
                <li><a href="/admin/">{% trans 'Admin' %}</a></li>
                {% endif %}
                <li><a href="{% url 'auth_password_change' %}">Password Change</a></li>
                <li><a href="{% url 'users:logout' %}">{% trans 'Logout' %}</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{% url 'users:login' %}">{% trans 'Login' %}</a></li>
            <li><a href="{% url 'users:register' %}">{% trans 'Register' %}</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        {% block header %}
        <div class="page-header">
          <h1>{% block header-title %}{% endblock %}</h1>
        </div>
        {% endblock %}
        <div class="row">
            <div class="col-md-3">
                <div class="hidden-print panel panel-success" role="complementary">
                  <div class="panel-heading">{% trans 'Information' %}</div>
                  <ul class="panel-body nav">
                    <li class=""><a href="{% url 'home' %}">{% trans 'Room Schedule' %}</a></li>
                    <li class=""><a href="{% url 'rooms:list' %}">{% trans 'Room Detail' %}</a></li>
                  </ul>
                </div>
            {% if user.is_authenticated %}
                <div class="hidden-print panel panel-info" role="complementary">
                  <div class="panel-heading">{% trans 'Request' %}</div>
                  <ul class="panel-body nav">
                    <li class=""><a href="{% url 'reservations:create' %}">{% trans 'Make A Reservation' %}</a></li>
                    <li class=""><a href="{% url 'reservations:list' %}">{% trans 'Request Status' %}</a></li>
                    {% if user.is_staff %}
                    <li class=""><a href="{% url 'reservations:pending-list' %}">{% trans 'Pending Request' %} <span class="label label-sm label-default">{{pending_items}}</span></a></li>
                    {% endif %}
                  </ul>
                </div>
            {% endif %}
            </div>
            <div class="col-md-9">
              {% block content %}
                <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
                <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
              {% endblock %}
            </div>
        </div>

      </div>
    </div>


    <div id="footer">
      <div class="container">
        <p class="text-muted credit"> <a href="http://twitter.com/sipp11">@sipp11</a> with <a href="http://zzyzx.co/">Zzyzx Co.,Ltd.</a></p>
      </div>
    </div>
        <!-- Templates -->
        {% include "includes/messages.html" %}
        {% block extra_templates %}{% endblock %}
        <!-- End Templates -->

        <!-- JavaScript -->
        {% compress js %}
        <script src='{% static "js/jquery.min.js" %}'></script>
        <script src='{% static "js/handlebars.min.js" %}'></script>
        <script src='{% static "js/helpers.js" %}'></script>
        <script src='{% static "js/messages.js" %}'></script>
        <script src='{% static "js/bootstrap.min.js" %}'></script>
        <script src='{% static "fullcalendar-1.6.3/fullcalendar.min.js" %}'></script>
        <script src='{% static "js/underscore.js" %}'></script>
        <script src='{% static "js/backbone.js" %}'></script>
        <script src='{% static "js/calendar_app.js" %}'></script>
        <script src='{% static "js/backbone-tastypie.js" %}'></script>
        <script>
            $(document).ready(function($) {
                // $('input').addClass('form-control');
            });
            // sending a csrftoken with every ajax request
            // token
            !function ($) {
              $.ajaxSetup({
                   beforeSend: function(xhr, settings) {
                       function getCookie(name) {
                           var cookieValue = null;
                           if (document.cookie && document.cookie != '') {
                               var cookies = document.cookie.split(';');
                               for (var i = 0; i < cookies.length; i++) {
                                   var cookie = jQuery.trim(cookies[i]);
                                   // Does this cookie string begin with the name we want?
                               if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                   break;
                               }
                           }
                       }
                       return cookieValue;
                       }
                       if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                           // Only send the token to relative URLs i.e. locally.
                           xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                       }
                   }
              });

            }(window.jQuery)
        </script>
        <!-- JS
        <script src="{% static "js/helpers.js" %}"></script>
        <script src="{% static "js/lightbox.js" %}"></script>
        <script src="{% static "js/pinry.js" %}"></script>
        <script src="{% static "js/pin-form.js" %}"></script>
        -->
        {% endcompress %}
        {% compress js inline %}
        {% block extra_js %}{% endblock %}
        {% endcompress %}
        <!-- End JavaScript -->
    </body>
</html>
