{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="row">

    <div id="form" class="panel panel-default panel-danger">
      <div class="panel-heading">{% block panel-heading %}{% trans 'Register' %}{% endblock %}</div>
      <div class="panel-body">


        <form action="" method="post">{% csrf_token %}
            <h4>{% trans 'Are you sure you want to delete' %} 
                {% block object-name %}{% endblock %}?</h4>

            <div class="btn-group btn-group-lg">
                <a class="btn btn-default" href="{% block backlink %}{% endblock %}">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn btn-danger">{% trans 'Confirm' %}</button>
            </div>
        </form>
      </div>
    </div>

</div>

{% endblock %}