{% extends 'base.html' %}
{% load static %}{% load i18n %}

{% block page-header %}{% trans 'Reservation System' %}{% endblock %}
{% block content %}

<div id='calendar'></div>

<ul class="list-unstyled">
{% for room in rooms %}
<li><span style="background-color:{{room.color}}; border:1px solid #ddd">&nbsp;&nbsp;&nbsp;&nbsp;</span> {{room}}</li>
{% empty %}
{% endfor %}
</ul>

{% endblock %}

