{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block header-title %}{% trans 'Reservation History' %}{% endblock %}

{% block content %}

<div class="clear-fix"></div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>

    <!-- Table -->
    <table class="table table-hover table-striped">
    <thead>
        <th>#</th>
        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Room' %}</th>
        <th>{% trans 'Status' %}</th>
    </thead>
    <tbody>
    {% for e in object_list %}
    <tr class="{% if e.approval_status == 'k' %}warning{% elif e.approval_status == 'a' %}success{% elif e.approval_status == 'r'%}danger{% endif %}">
        <td>{{forloop.counter}}</td>
        <td>{{e.title}}</td>
        <td>{{e.room}}</td>
        <td>
            {{e.get_approval_status_display}} 
            <span class="label label-xs label-default">{% trans 'By' %}</span>
            {{ e.approver }} on {{ e.approved_on }}
            {% if e.approval_note %}
                <br/><span class="label label-xs label-info">{% trans 'Reason' %}</span>
                {{e.approval_note}}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="4">
            <span class="label label-xs label-default">{% trans 'Requested By' %}</span> {{e.creator}}
            <span class="label label-xs label-default">{% trans 'Period' %}</span> {{e.get_period}}
            <span class="label label-xs label-default">{% trans 'Time' %}</span> {{e.start}} - {{e.end}}
            <p>{{e.desc}}</p>
            <p class="f"></p>
        </td>
    {% empty %}
    <tr>
        <td colspan="4">{% trans 'N/A' %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>

<p>{% trans 'Status' %}:
    <span style="background-color:#fafafa; border:1px solid #ddd">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Pending' %}
    <span style="background-color:#fcf8e3; border:1px solid #fbeed5">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Acknowledged' %}
    <span style="background-color:#dff0d8">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Accepted' %}
    <span style="background-color:#f2dede">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Rejected' %}
</p>

{% endblock %}
