{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block header-title %}{% trans 'Reservation' %}{% endblock %}

{% block content %}

<div class="clear-fix"></div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        {% trans 'Pending List' %} 
        </div>

    <!-- Table -->
    <table class="table table-hover table-striped">
    <thead>
        <th>#</th>
        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Room' %}</th>
        <th>{% trans 'User' %}</th>
        <th>{% trans 'Action' %}</th>
    </thead>
    <tbody>
    {% for e in object_list %}
    <tr class="{% if e.approval_status == 'k' %}warning{% elif e.approval_status == 'a' %}success{% elif e.approval_status == 'r'%}danger{% endif %}">
        <td>{{forloop.counter}}</td>
        <td>{{e.title}}</td>
        <td>{{e.room}}</td>
        <td>{{e.creator}}</td>
        <td>
            <a href="{% url 'reservations:report' e.pk %}" class="btn btn-xs btn-primary">{% trans 'Print Report' %}</a>
            <span class="action_button">
                <button class="btn btn-xs btn-success action" data-action="accept" data-id='{{e.pk}}'>{% trans 'Accepted' %}</button>
                <button class="btn btn-xs btn-danger action" data-action="reject" data-id='{{e.pk}}'>{% trans 'Rejected' %}</button>
            </span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="4">
            <span class="label label-xs label-info">{% trans 'Period' %}</span> {{e.get_period}}
            <span class="label label-xs label-info">{% trans 'Time' %}</span> {{e.start}} - {{e.end}}
            <p>{{e.desc}}</p>
            <p class="f"></p>
        </td>
    {% empty %}
    <tr>
        <td colspan="4">{% trans 'N/A' %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="{% url 'reservations:pending-list' %}?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% endif %}
            <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
        {% if page_obj.has_next %}
            <li><a href="{% url 'reservations:pending-list' %}?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>

<p>{% trans 'Status' %}:
    <span style="background-color:#fafafa; border:1px solid #ddd">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Pending' %}
    <span style="background-color:#fcf8e3; border:1px solid #fbeed5">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Acknowledged' %}
    <span style="background-color:#dff0d8">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Accepted' %}
    <span style="background-color:#f2dede">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Rejected' %}
</p>

{% endblock %}

{% block extra_templates %}
{% include "includes/approving_form.html" %}
{% endblock %}

{% block extra_js %}
<script>
function dismissForm(form) {
    if (!form) var form = $('#approving-form');
    form.fadeOut(400);
    setTimeout(function() {
        form.remove();
    }, 400);
}

$().ready(function() {
    $('.action').click(function(evt) {
        var id = $(this).attr('data-id'),
            btn = $(this),
            btn_txt = $(this).html(),
            action = $(this).attr('data-action'),
            tr_parent = $(this).closest('tr');
        btn.attr('disabled', 'disabled').html('processing...');
        var promise = getReservationData(id);
        promise.success(function(data) {
            dismissForm();

            var template = Handlebars.compile($('#approving-template').html());
            var html = template(data);

            var d = btn.closest('tr').next().find('p.f');
            d.html('').hide().append(html).fadeIn(200);

            if (action == 'accept') {
                d.find('option[value="a"]').attr('selected', true);
            } else {
                d.find('option[value="r"]').attr('selected', true);
                d.find('#approving-form-save').addClass('btn-danger');
            }

            d.find('#approving-form-dismiss').click(function(e) { dismissForm(); });
            d.find('#approving-form-save').click(function(e) { 
                var newData = {
                    resource_uri: d.find('input[name=resource_uri]').val(),
                    approval_status: d.find('#id_approval_status').val(),
                    approver: '/api/v1/user/'+{{user.pk}}+'/',
                    approved_on: new Date(),
                };
                if (d.find('#id_approval_note').val() != "") {
                    newData['approval_note'] = d.find('#id_approval_note').val();
                }

                var save_promise = updateReservationData(id, newData);
                save_promise.success(function(res) {
                    dismissForm();
                    switch (action) {
                        case 'accept': tr_parent.removeClass('warning').addClass('success'); break;
                        case 'reject': tr_parent.removeClass('warning').addClass('danger'); break;
                    }
                    tr_parent.find('.action_button').hide();
                });
                save_promise.error(function(err) {
                    dismissForm();
                });

            });

            btn.attr('disabled', false).html(btn_txt);
            message('Successfully executed.', 'alert alert-success');
        });
        promise.error(function(error) {
            console.log(error);
            btn.attr('disabled', false).html(btn_txt);
            message('Problem!! Try again.', 'alert alert-error');
        });
    });

});

</script>

{% endblock %}
