<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/static/css/bootstrap.min.css" media='screen,print'/>
<style>

@font-face {
  font-family: 'THSaranbun';
  src: local('THSaranbun Bold'), local('THSaranbun-Bold'), url('/static/fonts/thsarabun-bold.woff') format('woff');
  src: local('THSaranbun'), local('THSaranbun'), url('/static/fonts/thsarabun.woff') format('woff');
}

body { font-family: 'THSaranbun';font-size: 18px;}
</style>

</head>

<body>

<div class="container">




<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <h4>บันทึกข้อความ</h4>
    </div>
</div>

<p><strong>ส่วนราชการ</strong>     คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏนครราชสีมา</p>
<p><strong>ที่</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;วันที่ {{today|date:'j'}} เดือน {{today|date:'F'}} พ.ศ. {{today|date:'Y'}}</p>
<p><strong>เรื่อง</strong> &nbsp;&nbsp;&nbsp;&nbsp;ขออนุญาตใช้อาคารสถานที่คณะวิทยาการจัดการ</p>
<p><strong>เรียน</strong> &nbsp;&nbsp;&nbsp;&nbsp;หัวหน้าสำนักงานคณบดี</p>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้า {%if item.creator.get_full_name %}{{item.creator.get_full_name}}{% else %}{{item.creator.username}}{% endif %} ตำแหน่ง ..............................  หน่วยงาน............................ โทรศัพท์ภายใน................................................... มีความประสงค์ขออนุญาตใช้อาคารสถานที่</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1">   </div>
    <div class="col-sm-11 col-md-11 col-lg-11">
        <ul class="list-unstyled">
            <li><span class="glyphicon glyphicon-unchecked"></span> ห้องประชุมวิทยาการจัดการ 1 (22.14)</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> ห้องประชุมหน้าห้องประชุมวิทยาการจัดการ 1 (22.14)</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> ห้องประชุมวิทยาการจัดการ 2 (22.11)</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> ห้องประชุมวิทยาการจัดการ 4 (ภาษาเกาหลี)</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> ห้องประชุมวิทยาการจัดการ 5 </li>
            <li><span class="glyphicon glyphicon-unchecked"></span> ห้องประชุมวิทยาการจัดการ 7 (13.11)</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> ห้องประชุมวิทยาการจัดการ 8 (ห้องการแสดง)</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> ห้องอื่น ๆ  ระบุ..................................................................</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-7">
        <ul class="list-unstyled list-inline">
            <li><strong>เพื่อวัตถุประสงค์</strong></li>
            <li><span class="glyphicon glyphicon-unchecked"></span> ประชุม</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> สอบ</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> การเรียนการสอน</li>
            <li><span class="glyphicon glyphicon-unchecked"></span> อื่นๆ</li>
        </ul>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        จำนวนผู้เข้าร่วมประชุม ........... คน    อาจารย์ ............. คน บุคคลภายนอก .............. คน นักศึกษา ............. คน
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        ในวันที่ {{item.start|date:'j'}} เดือน {{item.start|date:'M'}} พ.ศ. {{item.start|date:'Y'}} ตั้งแต่เวลา {{item.start|date:'H:j:i'}} ถึง {{item.end|date:'H:j:i'}} น. 
        {% if duration %}
        และ/ถึงวันที่ {{item.end|date:'j'}} เดือน  {{item.end|date:'M'}}  พ.ศ. {{item.end|date:'Y'}} ตั้งแต่เวลา {{item.start|date:'H:j:i'}} ถึง {{item.end|date:'H:j:i'}} น. 
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1">   </div>
    <div class="col-sm-11 col-md-11 col-lg-11">
        <p>จึงเรียนมาเพื่อโปรดพิจารณา</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5"></div>
    <div class="col-sm-7 col-md-7 col-lg-7 text-center">
        ลงชื่อ............................................................ผู้ขออนุญาต<br/>
            ( {%if item.creator.get_full_name %}{{item.creator.get_full_name}}{% else %}{{item.creator.username}}{% endif %} )
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <h6><u>หมายเหตุ</u>  :  หากต้องการใช้อุปกรณ์โสตทัศนูปกรณ์  โปรดใช้แบบฟอร์มขออนุญาตต่างหาก</h6>
    </div>
</div>

</div>


</body>
</html>