{% extends 'base.html' %}
{% load i18n %}{% load static %}

{% block header-title %}{% trans 'Reservation' %}{% endblock %}

{% block content %}

<div class="clear-fix"></div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        {% trans 'Your Reservation List' %} 
        </div>

    <!-- Table -->
    <table class="table table-hover table-striped">
    <thead>
        <th>#</th>
        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Room' %}</th>
        <th>{% trans 'Period' %}</th>
        <th>{% trans 'Time' %}</th>
        <th>{% trans 'Description' %}</th>
    </thead>
    <tbody>

    {% for e in object_list %}
    <tr class="{% if e.approval_status == 'k' %}warning{% elif e.approval_status == 'a' %}success{% elif e.approval_status == 'r'%}danger{% endif %}">
        <td>{{forloop.counter}}</td>
        <td>{{e.title}}</td>
        <td>{{e.room}}</td>
        <td>{{e.get_period}}</td>
        <td>{{e.start}}
            <span class="label label-xs label-default">to</span><br/> {{e.end}}</td>
        <td>
            {% if e.is_pending %}
            <a href="{% url 'reservations:update' e.pk %}" class="btn btn-xs btn-info">{% trans 'Edit' %}</a>
            <a href="{% url 'reservations:delete' e.pk %}" class="btn btn-xs btn-danger">{% trans 'Delete' %}</a>
            {% endif %}
            <br/>{{e.desc}} </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">{% trans 'N/A' %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="{% url 'reservations:list' %}?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% endif %}
            <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
        {% if page_obj.has_next %}
            <li><a href="{% url 'reservations:list' %}?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>

<p>{% trans 'Status' %}:
    <span style="background-color:#fafafa; border:1px solid #ddd">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Pending' %}
    <span style="background-color:#fcf8e3; border:1px solid #fbeed5">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Acknowledged' %}
    <span style="background-color:#dff0d8">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Accepted' %}
    <span style="background-color:#f2dede">&nbsp;&nbsp;&nbsp;&nbsp;</span> {% trans 'Rejected' %}
</p>

{% endblock %}