{% extends 'base_form.html' %}
{% load i18n %}{% load static %}
{% block header-title %}{% trans 'Reservation' %}{% endblock %}
{% block backlink %}{% url 'reservations:list' %}{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/will_pickdate.css' %}"/>{% endblock %}
{% block extra_js %}
<script src="{% static 'js/will_pickdate.js' %}"></script>
<script src="{% static 'js/jquery.mousewheel.js' %}"></script>
<script>
$('input[name=start]').will_pickdate({
  timePicker: true,
  format: 'Y-m-d H:i:s',
  inputOutputFormat: 'Y-m-d H:i:s'
});
$('input[name=end]').will_pickdate({
  timePicker: true,
  format: 'Y-m-d H:i:s',
  inputOutputFormat: 'Y-m-d H:i:s'
});
</script>
{% endblock %}