{% extends "base.html" %}
{% load i18n %}
{% block title %}Login{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<br/><br/>
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <div id="form" class="panel panel-default panel-primary">
          <div class="panel-heading">{% trans 'Login' %}</div>
          <div class="panel-body">
            <form role="form" action="" method="post">
                {% csrf_token %}
              <div class="form-group">
                <label for="id_username">Username:</label>
                <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Enter username"/>
              </div>
              <div class="form-group">
                <label for="id_password">Password:</label>
                <input id="id_password" maxlength="254" name="password" type="password" class="form-control" placeholder="Enter password"/>
              </div>
              <button type="submit" class="btn btn-default">{% trans 'Login' %}</button>
            </form>
          </div>
        </div>
    </div>
{% endblock %}