{% extends "base.html" %}
{% load i18n %}
{% block title %}Register{% endblock %}

{% block header %}{% endblock %}
{% block content %}
<br/><br/>
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <div id="form" class="panel panel-default panel-info">
          <div class="panel-heading">{% trans 'Register' %}</div>
          <div class="panel-body">
            <form role="form" action="" method="post">
                {% csrf_token %}
              <div class="form-group">
                <label for="id_username">Username:</label>
                <input id="id_username" maxlength="254" name="username" type="text" class="form-control" placeholder="Enter username"/>
              </div>
              <div class="form-group">
                <label for="id_email">{% trans 'Email Address' %}:</label>
                <input id="id_email" maxlength="254" name="email" type="text" class="form-control" placeholder="{% trans 'Enter Email' %}"/>
              </div>
              <div class="form-group">
                <label for="id_password">Password:</label>
                <input id="id_password" maxlength="254" name="password" type="password" class="form-control" placeholder="Enter password"/>
              </div>
              <button type="submit" class="btn btn-default">{% trans 'Register' %}</button>
            </form>
        </div>
    </div>
  </div>
{% endblock %}