{% extends 'base.html' %}
{% load i18n %}

{% block header-title %}{% trans 'Users' %}{% endblock %}

{% block content %}

<div class="clear-fix"></div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        {% trans 'Users List' %} 
        </div>

    <!-- Table -->
    <table class="table table-hover table-striped">
    <thead>
        <th>#</th>
        <th>{% trans 'username' %}</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Email' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Action' %}</th>
    </thead>
    <tbody>
    {% for user in object_list %}
    <tr id="u-{{user.pk}}">
        <td>{{forloop.counter}}</td>
        <td>{{user.username}}</td>
        <td>{{user.get_full_name|default:'-'}}</td>
        <td>{{user.email|default:'-'}}</td>
        <td>
            <span class="label label-xs label-default {% if not user.is_active %}hide{% endif %} active-status">active</span>  
            <span class="label label-xs label-primary {% if not user.is_staff %}hide{% endif %} staff-status">staff</span>
            <span class="label label-xs label-danger {% if not user.is_superuser %}hide{% endif %} super-status">super</span>
        </td>
        <td class="action">
            {% if user.is_active %}<button data-id="{{user.pk}}" data-action="ban" class="btn btn-xs btn-danger">Ban</button>
            {% else %}<button data-id="{{user.pk}}" data-action="make-active" class="btn btn-xs btn-info">Make Active</button>{% endif %} 

            {% if user.is_staff %}<button data-id="{{user.pk}}" data-action="drop-staff" class="btn btn-xs btn-default">Drop Staff</button>
            {% else %}<button data-id="{{user.pk}}" data-action="make-staff" class="btn btn-xs btn-primary">Make Staff</button>{% endif %}  
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <span class="label label-xs label-default">Date Joined</span> {{user.date_joined}}
            <span class="label label-xs label-warning">Last Login</span> {{user.last_login}}


        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">{% trans 'N/A' %}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if is_paginated %}
    <ul class="pager">
        {% if page_obj.has_previous %}
            <li><a href="{% url 'users:list' %}?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% endif %}
            <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
        {% if page_obj.has_next %}
            <li><a href="{% url 'users:list' %}?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>

{% endblock %}

{% block extra_js %}
<script>
$('.action button').each(function() {
    var button = $(this),
        action = $(this).attr('data-action'),
        pk = $(this).attr('data-id'),
        apiUrl = '/api/v1/user/',
        row = $(this).closest('tr');

    var data = {
        resource_uri: apiUrl+pk+'/'
    }
        button.click(function(evt) {
            switch(action) {
                case "ban": data['is_active'] = false; break;
                case "make-active": data['is_active'] = true; break;
                case "drop-staff": data['is_staff'] = false; break;
                case "make-staff": data['is_staff'] = true; break;
            }
            var promise = $.ajax({
                                type: "patch",
                                url: apiUrl+pk+'/',
                                contentType: 'application/json',
                                data: JSON.stringify(data)
                            });
            promise.success(function(data) {
                message('Successfully executed.', 'alert alert-success');
                switch(action) {
                    case "ban": row.find('.active-status').fadeOut(200); break;
                    case "make-active": row.find('.active-status').removeClass('hide').fadeIn(200); break;
                    case "drop-staff": row.find('.staff-status').fadeOut(200); break;
                    case "make-staff": row.find('.staff-status').removeClass('hide').fadeIn(200); break;
                }
                button.fadeOut(100);
            });
            promise.error(function(err) {
                message('Problem!! Try again.', 'alert alert-error');
            });
        });
});

</script>
{% endblock %}



